<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Subs Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <h2 class="d-flex justify-content-start gap-1 align-items-center">
                    <img src="" th:src="@{'/buddy.png'}" th:alt="buddy"/>
                    <span>Subs Buddy</span>
                </h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-success"></p>
                <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="srtSelect" type="file" name="srt" accept=".srt" class="form-control-file">
                    </div>
                    <button id="btnUpload" type="submit" class="btn btn-primary mt-2">Upload</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                Translated subs will appear here...
            </div>
        </div>
    </div>
</section>
</body>
</html>